* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100vh;
}
/**************************************************/
/******************MAIN****************************/
/**************************************************/
main footer {
  background: hsl(0, 0%, 95%);
}
.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 100px;
  width: 900px;
  flex-wrap: wrap;
}
.card-1 {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
  padding: 50px;
  border-radius: 15px 0 0 15px;
  background: hsl(31, 77%, 52%);
}
.card-1 button {
  color: hsl(31, 77%, 52%);
  cursor: pointer;
}
.card-1 button:hover {
  background: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  border: solid 2px hsl(0, 0%, 95%);
}
.card-2 {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
  padding: 50px;
  background: hsl(184, 100%, 22%);
}
.card-2 button {
  color: hsl(184, 100%, 22%);
  cursor: pointer;
}
.card-2 button:hover {
  background: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  border: solid 2px hsl(0, 0%, 95%);
}
.card-3 {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 300px;
  padding: 50px;
  border-radius: 0 15px 15px 0;
  background: hsl(179, 100%, 13%);
}
.card-3 button {
  color: hsl(179, 100%, 13%);
  cursor: pointer;
}
.card-3 button:hover {
  background: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  cursor: pointer;
  border: solid 2px hsl(0, 0%, 95%);
}
h2 {
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  padding-bottom: 30px;
  padding-top: 30px;
  color: hsl(0, 0%, 95%);
  font-size: xx-large;
  text-transform: uppercase;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 15px;
  padding-bottom: 30px;
  line-height: 2em;
}
img {
  width: 30%;
  height: 30%;
}
button {
  background: hsl(0, 0%, 95%);
  border: none;
  border-radius: 25px;
  margin-top: 25px;
  width: 140px;
  font-size: 15px;
}
/**************************************************/
/****************FOOTER****************************/
/**************************************************/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
span.love {
  color: red;
}
span.love:hover {
  color: red;
  text-transform: uppercase;
  user-select: none;
}
/**************************************************/
/****************MEDIAS QUERIES********************/
/**************************************************/

/****************DESKTOP**************************/

@media screen and (max-width: 1440px) {
  .categories {
    padding-top: 100px;
    width: 810px;
  }
  .card-1 {
    height: 450px;
    width: 270px;
    padding: 40px;
  }
  .card-2 {
    height: 450px;
    width: 270px;
    padding: 40px;
  }
  .card-3 {
    height: 450px;
    width: 270px;
    padding: 40px;
  }
  p {
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 2em;
  }
  button {
    margin-top: 50px;
    width: 120px;
    font-size: 10px;
  }
}

/****************MOBILE****************************/

@media screen and (max-width: 375px) {
  .categories {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 370px;
    position: relative;
  }
  .card-1 {
    height: 400px;
    width: 250px;
    border-radius: 15px 15px 0 0;
    padding: 30px;
  }
  .card-2 {
    height: 400px;
    width: 250px;
    padding: 30px;
  }
  .card-3 {
    height: 400px;
    width: 250px;
    border-radius: 0 0 15px 15px;
    padding: 30px;
  }
  h2 {
    font-size: x-large;
  }
  p {
    font-size: 4px;
    padding-bottom: 5px;
    line-height: 5em;
    letter-spacing: 1px;
  }
  button {
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 130px;
    font-size: 4px;
  }
  .attribution {
    position: absolute;
    bottom: 0;
  }
}
